<form class="mb-3" (ngSubmit)="onSubmit()">
  <label for="exampleFormControlInput1" class="form-label">Ingrese el numero de profesores:</label>
  <input type="number" class="form-control" id="TeacherCant" [formControl]="cant" placeholder="">
  <br />
  <button type="submit" class="form-control">Aceptar</button>
</form>
<br />
<div class="mb-3">
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tipo</th>
          <th scope="col">Horas</th>
          <th scope="col">Categoria</th>
          <th scope="col">Posgrado</th>
          <th scope="col">Grupo y/o semillero</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>
            <select class="form-select" aria-label="Type of teacher" (change)="sendData(teacher, i)" [ngModelOptions]="{standalone: true}" [(ngModel)]="teachers[i].type">
              <option selected>Seleccione el tipo de profesor</option>
              <option value="1">Ocasional</option>
              <option value="2">Catedratico</option>
            </select>
          </td>
          <td>
            <input type="number" class="form-control" id="{{i}}" placeholder="Horas trabajadas" (change)="sendData(teacher, i)" [ngModelOptions]="{standalone: true}" [(ngModel)]="teachers[i].hours">
          </td>
          <td>
            <select class="form-select" aria-label="Category of teacher" (change)="sendData(teacher, i)" [ngModelOptions]="{standalone: true}" [(ngModel)]="teachers[i].category">
              <option selected>Seleccione la categoria del profesor</option>
              <option value="1">Auxiliar de tiempo completo</option>
              <option value="2">Auxiliar de medio tiempo</option>
              <option value="3">Asistente de tiempo completo</option>
              <option value="4">Asistente de medio tiempo</option>
              <option value="5">Asociado de tiempo completo</option>
              <option value="6">Asociado de medio tiempo</option>
              <option value="7">Titular de tiempo completo</option>
              <option value="8">Titular de medio tiempo</option>
            </select>
          </td>
          <td>
            <select class="form-select" aria-label="PostGraduate" (change)="sendData(teacher, i)" [ngModelOptions]="{standalone: true}" [(ngModel)]="teachers[i].postGraduate">
              <option selected>Seleccione el posgrado del profesor</option>
              <option value="1">Especializacion</option>
              <option value="2">Maestria</option>
              <option value="3">Doctorado</option>
              <option value="4">Postdoctorado</option>
            </select>
          </td>
          <td>
            <select class="form-select" aria-label="Groups" (change)="sendData(teacher, i)" [ngModelOptions]="{standalone: true}" [(ngModel)]="teachers[i].group">
              <option selected>Seleccione el grupo o semillero del profesor</option>
              <option value="1">A1</option>
              <option value="2">A</option>
              <option value="3">B</option>
              <option value="4">C</option>
              <option value="5">Reconocido por colciencias</option>
              <option value="6">Semillero</option>
            </select>
          </td>
          <td>
            <button type="submit" class="form-control" (click)="sendData(teacher, i)">Añadir</button>
          </td>
        </tr>
      </tbody>
    </table>
  
</div>
