<form class="mb-3" (ngSubmit)="onSubmit(teacher)">
  <label for="Type of teacher" class="form-label">Seleccione el tipo de profesor</label>
  <select class="form-select" aria-label="Type of teacher" [ngModelOptions]="{standalone: true}" [(ngModel)]="teacher.type">
    
    <option value="ocasional">Ocasional</option>
    <option value="catedratico">Catedratico</option>
  </select>
  <label for="Horas trabajadas" class="form-label">Digite la horas trabajadas</label>
  <input type="number" class="form-control" placeholder="Horas trabajadas" [ngModelOptions]="{standalone: true}" [(ngModel)]="teacher.hours">
  <label for="Category of teacher" class="form-label">Seleccione la categoria del profesor</label>
  <select class="form-select" aria-label="Category of teacher" [ngModelOptions]="{standalone: true}" [(ngModel)]="teacher.category">
   
    <option value="auxiliarT">Auxiliar de tiempo completo</option>
    <option value="auxiliarM">Auxiliar de medio tiempo</option>
    <option value="asistenteT">Asistente de tiempo completo</option>
    <option value="asistenteM">Asistente de medio tiempo</option>
    <option value="asociadoT">Asociado de tiempo completo</option>
    <option value="asociadoM">Asociado de medio tiempo</option>
    <option value="titularT">Titular de tiempo completo</option>
    <option value="titularM">Titular de medio tiempo</option>
  </select>
  <label for="Category of teacher" class="form-label">Seleccione el posgrado del profesor</label>
  <select class="form-select" aria-label="PostGraduate" [ngModelOptions]="{standalone: true}" [(ngModel)]="teacher.postGraduate">
    <option value="">Sin posgrado</option>
    <option value="especializacion">Especializacion</option>
    <option value="maestria">Maestria</option>
    <option value="doctorado">Doctorado</option>
    <option value="postdoctorado">Postdoctorado</option>
  </select>
  <label for="Category of teacher" class="form-label">Seleccione el grupo o semillero que pertenece el profesor</label>
  <select class="form-select" aria-label="Groups" [ngModelOptions]="{standalone: true}" [(ngModel)]="teacher.group">
    <option value="A1">A1</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="colciencias">Reconocido por colciencias</option>
    <option value="semillero">Semillero</option>
  </select>
  <br />
  <button type="submit" class="form-control">Agregar</button>
</form>
<br />
<div class="mb-3">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo</th>
        <th scope="col">Horas</th>
        <th scope="col">Categoria</th>
        <th scope="col">Posgrado</th>
        <th scope="col">Grupo y/o semillero</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>
          {{teacher.type}}
        </td>
        <td>
          {{teacher.hours}}
        </td>
        <td>
          {{teacher.category}}
        </td>
        <td>
          {{teacher.postGraduate}}
        </td>
        <td>
          {{teacher.group}}
        </td>

      </tr>
    </tbody>
  </table>
  <br />
  <button type="button" class="btn btn-primary" (click)="sendData()">Simular</button>
  <h1>El salario total es : {{salary}}</h1>
</div>
